.main-wrapper
    width: 100%
    height: 100vh
    overflow: hidden

.main-display
    width: 100%
    height: 100%
    transition: $fast-ease-trans
    transform: translateY(0)

    &.active-list
        transform: translateY(-100%)

.tasker-display
    width: 100%
    max-width: 450px
    min-width: 300px
    height: calc(100% - 120px)
    margin: 0 auto
    padding-top: 120px

.tasker-header-wrapper
    width: 100%
    height: auto

.tasker-header-display
    width: 100%
    height: 100%
    text-align: center

    h1
        color: $red
        font-size: 100px
        font-weight: lighter

    h2
        color: $red
        font-size: 50px
        font-weight: lighter
        padding: 30px 0

.task-wrapper
    width: 100%
    height: auto
    background: #fff

.task-display
    width: 100%
    height: 100%

.task-create
    width: 100%
    height: 60px
    border-bottom: $light-border
    display: table

    input
        width: 80%
        height: 60px
        color: $light-text
        font-size: 20px
        font-style: italic
        outline: none
        border: none
        display: table-cell
        padding: 0 1%

    input::-webkit-input-placeholder
        color: $placeholder-text

.task-control
    width: 100%
    height: 60px
    border-bottom: $light-border
    display: table
    &.completed-task
        opacity: 0.4
    &:hover
        .col-delete i
            color: $red


    p
        width: 80%
        height: 100%
        color: $light-text
        display: table-cell
        font-size: 20px
        font-weight: bold
        display: table-cell
        vertical-align: middle

.col
    width: 10%
    display: table-cell
    text-align: center
    vertical-align: middle
    cursor: pointer

.col-delete
    width: 10%
    height: 100%
    display: table-cell
    text-align: center
    font-style: bold
    vertical-align: middle
    cursor: pointer
    transition: $mid-lin-trans

    i
        color: #fff
        transition: $mid-lin-trans

.tasker-buttons
    width: 100%
    height: 50px
    display: table

    button
        color: $placeholder-text
        font-size: 18px
        font-style: italic
        font-weight: bold
        outline: none
        box-shadow: none
        border: none
        background: transparent
        letter-spacing: 0.5px
        padding-top: 15px
        padding-left: 15px
        cursor: pointer
        transition: $mid-lin-trans
        &:hover
          color: $light-text


.main-list-display
    width: 100%
    max-width: 450px
    min-width: 300px
    height: calc(100% - 120px)
    margin: 0 auto
    overflow: hidden
    padding-top: 120px

.list-wrapper
    width: 100%
    height: auto
    background: #fff

.list-display
    width: 100%
    height: 100%

.task-listing-control
    width: 100%
    height: 60px
    border-bottom: $light-border
    display: table
    cursor: pointer

    &:hover
        p
            color: $red
        .list-delete i
            color: $red

    p
        width: 80%
        height: 100%
        color: $light-text
        display: table-cell
        font-size: 20px
        font-weight: bold
        display: table-cell
        vertical-align: middle
        letter-spacing: 0.5px

.list-delete
    width: 10%
    height: 100%
    display: table-cell
    text-align: center
    font-style: bold
    vertical-align: middle
    cursor: pointer
    transition: $mid-lin-trans

    i
        color: #fff
        transition: $mid-lin-trans


.slide-list-wrapper
    width: 1200px
    transition: all 350ms cubic-bezier(0.47, 0, 0.06, 1.42)
    transform: translateX(0)

    &.active-todos-list
        transform: translateX(-50%)

.slide-list-container
    width: 450px
    display: inline-block

    &:nth-of-type(2)
        margin-left: 150px
