doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,300|Raleway:400,300,700' rel='stylesheet' type='text/css')
        link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css')
    body
      section.header-wrapper
        div.menu-btn
          span
          span
        div.header-display
          h2 tasker
          li: a(href="/home") home
          li: a(href="/login") login
          li: a(href="/register") register

      section.user-status
        - if (currentUser) {
            h3 Welcome, #{currentUser.name}
        - }
