include ./partials/header

section.main-wrapper
    div.main-display

        div.tasker-display
            section.tasker-header-wrapper
                div.tasker-header-display
                    h1 todos

            section.task-wrapper
                div.task-display
                    div.task-create
                        div.col
                        input(type="text" placeholder="what needs to be done?")
                    section.task-todos-display
                    //- - todos.todos.forEach(function(item) {
                    //-   div.task-control
                    //-     div.col: i(class="fa fa-circle-thin")
                    //-     p #{item.todoText}
                    //-     div.col-delete: i(class="fa fa-times")
                    //- - })
                section.tasker-buttons
                    button#save-todos Save
                    button.more-todos Lists
                    button.more-todos Clear
        
        div.list-display

            section.tasker-header-wrapper
                div.tasker-header-display
                    h1 Lists
                section.tasker-buttons
                    button.more-todos Lists


include ./partials/footer
