// Colors
$header-text: #f7eff1
$light-text: #808080
$placeholder-text: #f1f1f1
$delete-red: #e53935

// Fonts
$josefin: 'Josefin Sans'
$raleway: 'Raleway'


// Border
$light-border: 2px solid #f1f1f1
$focus-border: 2px solid #d9d9d9

// Transition
$mid-lin-trans: all 350ms linear

// Animations
@keyframes headerColors
  0%
    color: $header-text
  50%
    color: $placeholder-text
  100%
    color: $header-text
